@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  /* Force la couleur du texte saisi à être noir/gris foncé */
  color: #1a1a1a; 
  border: none;
}

input:focus {
  border: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

footer a { 
  color: #fff;
}

a:hover {
  color: #535bf2;
}

Link {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  background-color: #f9f9f9;
  overflow-x: hidden;
}


button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
